<!-- =====================================
     LANGUAGE BAR
     ===================================== -->
     <div class="lang-bar">  
      <div class="lang-inner">
        <div class="lang-switch">
          <a href="/">EN</a>
          <a href="/hi/">हिं</a>
          <a href="/or/">ଓଡ଼</a>
          <a href="/bn/">বা</a>
        </div>
      </div>
    </div>
<!-- =====================================
     MAIN NAVBAR
     ===================================== -->
    <nav class="main-nav">
      <div class="nav-inner">
        
        <!-- Logo -->
        <div class="nav-logo">
          <img src="/images/logo.svg" alt="Dishank">
        </div>

        <!-- Mobile Menu Button -->
        <div class="menu-toggle" id="menuToggle">☰</div>

        <!-- Menu -->
        <ul class="nav-menu" id="navMenu">
          <li><a href="/">{{ i18n "nav_home" }}</a></li>
          <li><a href="#unveiled">{{ i18n "nav_unveiled" }}</a></li>
          <li><a href="#why">{{ i18n "nav_exists" }}</a></li>
          <li><a href="#support">{{ i18n "nav_support" }}</a></li>
          <li><a href="#stories">{{ i18n "nav_stories" }}</a></li>
          <li><a href="#about">{{ i18n "nav_about" }}</a></li>
          <li><a href="#from-odisha">{{ i18n "nav_from" }}</a></li>
        </ul>    
        
        

      </div>
    </nav>
