<section id="stories" class="stories-section">

  <div class="container">

      <div class="stories-inner">

        <h2 class="stories-title">{{ i18n "stories_title" }}</h2>

        <p class="stories-intro">
          {{ i18n "stories_intro" }}
        </p>

        <div class="stories-frame">
          {{ $img := resources.Get "images/Stories.webp" }}
          {{ $resized := $img.Resize "900x" }}

          <img 
            src="{{ $resized.RelPermalink }}" 
            width="{{ $resized.Width }}" 
            height="{{ $resized.Height }}" 
            loading="lazy" 
            alt="Stories">
        </div>

        <p class="stories-text">
          {{ i18n "stories_text" }}
        </p>

      </div>

  </div>
  
  <a href="#talk" class="cta-glass stories-cta-position">
    {{ i18n "stories_cta" }}
  </a>  

</section>
